# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# OS-specific files
.DS_Store

# Large model weights and generated data
llm_weights/
out/
compensation_params/

# Results, plots, and logs
results/
results_1/
results_2/
results_3/
results_4/
svd_analysis_plots_2x2/
svd_analysis_plots_2x2_1/
*.log
*.png
